<%- include("header.ejs")-%>

    <h2>This is the amazing about page that talks about how great Kenjy is.</h2>

    <p>Even though Kenjy sucks at programming HEH</p>

    <%- include("footer.ejs")-%>